.products__wrapper {
  padding: 0 100px;
}

.products__top__title {
  text-align: center;
  margin-bottom: 20px;
}
.products__top__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add__product__btn {
  padding: 10px 14px;
  background: #01bbcf;
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  margin-bottom: 30px;
}
.add__product__btn:hover {
  cursor: pointer;
  background: #079aaa;
}

.category__label {
  margin-right: 10px;
  font-weight: bold;
}

.category__menu {
  padding: 5px 15px;
  cursor: pointer;
}

.product__section {
  background-color: #eee;
  padding: 0 12px;
}

.product__detail__section {
  background-color: #eee;
  padding: 0 50px;
}
